---
# tasks file for machine

- name: install docker machine
  get_url: 
    url: '{{ machine_binary }}'
    dest: /usr/local/bin/docker-machine
    mode: 0777

- name: install bash completition
  get_url:
    url: '{{ bash_completition_prompt }}'
    dest: /etc/bash_completion.d/docker-machine-prompt
    mode: 0644

- name: install bash completion 2  
  get_url:
    url: '{{ bash_completition_wrapper }}'
    dest: /etc/bash_completion.d/docker-machine-wrapper
    mode: 0644

- name: install bash completion 3  
  get_url:
    url: '{{ bash_completition_prompt }}'
    dest: /etc/bash_completion.d/docker-machine
    mode: 0644